body {
  margin: 0;
  display: flex;
  min-width: 860px;
  min-height: 500px;
}
#map {
  width: 100%;
  height: 100vh;
  /*display: inline-block;*/
}
.footer-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 720px;
}

.menu {
  width: 360px;
  height: 100vh;
  background-color: #1A331B;
  background: radial-gradient(#50893F, #1A331B);
  padding: 10px;
  box-sizing: border-box;
  border-radius: -15px;
}

.menu #waypoints-list {
  overflow-y: scroll;
  width: 100%;
  height: 65vh;
}

#logo{
  width: 85%;
  margin: 10px auto;
  display: block;
  transform: rotate(-2deg);
}

.center-block {
  display: block;
  margin: 0 auto;
}
.center-text {
  text-align: center;
}
.waypoints-list-item {
  background: #fff;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  margin: 4px 4px;
  position: relative;
}
.waypoints-list-item h4 {
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 8px;
}
.waypoints-list-item button {
  display: block;
  background: none;
  border: none;
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 12px;
  font-weight: bold;
  transition: all .5s;
  cursor: pointer;
}
.waypoints-list-item button:hover {
  transform: rotate(180deg);
}
